@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

/*Header Section*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
}

.header-logo img{
    width: 200px;
}

.header-links{
    display: flex;
    padding-right: 100px;
}

.header-links a{
    text-decoration: none; /*Removes blue text from links*/
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}